:root {
    --color-1: hsl(227, 92%, 58%);
    --color-2: hsl(215, 31%, 21%);
    --color-3: hsl(215, 17%, 45%);
    --color-4: hsl(200, 24%, 88%);
    --color-5: hsl(0, 0%, 100%);
}


body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: var(--color-2);;
}

* {
    box-sizing: border-box;
}

.heading-xl
{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
}

.heading-l
{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
}

.heading-m
{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.heading-s 
{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.1;
}


.body-m 
{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-3);
}

.body-m--bold 
{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

.body-s 
{
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.5;
}

.textfield-1-wrapper {
 position: relative;   
}
.textfield-1
{
    opacity: 25%;
    transition: opacity 300ms, border-color 300ms;
    padding: .83em 1em;
    width: 100%;
}

.textfield-1:active {
    opacity: 100%;
    border-color: var(--color-1);
}

.textfield-1_measurement
{
    color: var(--color-1);
    position: absolute;
    top: 0px;
    right: 1em;
}


.radio-1 {
    position: absolute;
    opacity: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}



.radio_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-1_custom-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border:transparent;
    transition: border 300ms, background-color 300ms;
}

.radio_wrapper:hover .radio-1_custom-bg
{   
    border: solid 1px var(--color-1);
}
.radio-1:checked ~ .radio-1_custom-bg
{
    background-color: hsla(227, 92%, 58%, 15%);
}

.radio-1_custom-check  {
    transition: background-color 300ms;
}

.radio-1:checked ~ .radio-1_custom-bg .radio-1_custom-check 
{
    background-color:var(--color-1);;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border-radius: 50%;
}

.radio-1_label {
    margin-left: .21em;
}


.header {
    position: relative;
    padding: 2rem 6.4% 4.5em;
    text-align: center;
}





.header_bg 
{
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background:linear-gradient(135deg, hsla(184, 95%, 92%, 0%), hsl(216, 95%, 92%));
    height: 70%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.header_intro, .calc {

    position: relative;
    z-index: 1;
    background: transparent;
}


.calc {
    padding: 1.5em;
    background-color: white;
    text-align: left;
    box-shadow: 0px 5px 10px hsla(215, 31%, 21%, 20%);
    border-radius: 20px;
}


.calc_type {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1.5em;
}


#metric-wrapper, #imperial-wrapper {
    width:50%;
}



.calc_height--imperial, .calc_weight--imperial {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}


.input--imperial {
    width: 50%;
}

.form {
    margin-bottom: 1.5em;
}

.result {
    text-align: left;
    color:white;
    padding: 2em;
    background: linear-gradient(90deg, hsl(227,92%,59%), hsl(227, 100%, 67%));
    border-radius: .5em;
}

.section-1 {
    margin-bottom: 4.4375em;
}

.section-1_content {
    padding: 0 6.4%;
}

.section-1_img {
    width: 100%;
    max-width: 1128px;
}

.section-2 {
    background: linear-gradient(135deg,hsla(184, 95%, 92%, 0%), hsl(216, 95%, 92%));
    padding: 3.5em 6.4%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}


.section-3 {
    padding: 4.5em 6.4% 6em;
}


.section-3_header_text {
    text-align: center;
    margin-bottom: 3.5em;
}


.section-3_feature {
    box-shadow: 0px 5px 10px hsla(215, 31%, 21%, 20%);
    border-radius: 12px;
    padding: 1.5em
}
.section-3_feature:not(:last-child)
{
    margin-bottom: 1em;
}


.section-3.desktop 
{
    display: none;
}


@media (min-width: 768px)
{
    .header {
        padding: 2em 5% 6em;
    }

    .calc {
        padding: 2em 4.6%;
    }

    .calc_type {
        margin-bottom: 2em;
    }

    .calc_metric_inner 
    {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }

    .calc_height--imperial, .calc_weight--imperial {
        gap: 1.5em;
    }


    .result {
      display: flex;
      align-items: center;
      border-top-right-radius: 6em;
      border-bottom-right-radius: 6em;
    }
    .result > * {
        width: 50%;
    }

    .section-1 {
        display: flex;
        align-items: center;
        padding-right: 5%;
    }

    .section-1_img {
        width: 50%;
    }
    
    .section-1_content {
        width: 50%;
    }

    .section-2 {
        margin-bottom: 5.93em;
        padding: 3.5em 5%;
    }

    .section-2_feature {
        display: flex;
        align-items: center;
        gap: 5.8%;
    }

    .section-3 
    {
        padding: 6em 5% 5.9em;
    }

    .section-3_features {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .section-3_feature {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .section-3_feature:not(:last-child)
{
    margin-bottom: 0;
}
}



@media (min-width: 1440px)
{

    .heading-xl {
        font-size: 4rem;
    }
    .heading-l {
        font-size: 3rem;
    }
    .heading-m 
    {
        font-size: 1.5rem;
    }
    .heading-s {
        font-size: 1.25rem ;
    }


    .header {
        padding: 4.68em 9.7% 5.375em;
        text-align: left;
    }

    .header_content {
        display: flex;
        justify-content: space-between;
    }

    .header_intro {
        padding-top: 6.18em;
        margin-bottom: 0;
        max-width: 564px;
    }

    .header_bg
     {
        width: 67.9%;
        height: 100%;
     }

     .calc
      {
        margin-top: 0;
        max-width: 564px;
      }

      .section-2 {
        display: flex;
        flex-direction: row;
        gap: 2.8%;
        justify-content: space-between;
      }

      .section-2_feature {
        display: block;
      }


      .section-3.mobile 
      {
        display: none;
      }

      .section-3.desktop {
        display: flex;
        flex-direction: column;
        gap: 2em;
      }

     

      .section-3_header {
        display: flex;
      }

      .section-3_header_text {
        text-align: left;
        max-width: 564px;
        justify-self: start;
      }
      

      .section-3_header .section-3_feature {
        margin-left: auto;
        margin-right: 8.85%;
      }
      
      .section-3_feature 
      {
        max-width:365px;
        margin-left: 0px;
        margin-right: 0px;
      }

      .section-3_region-1, .section-3_region-2
      {
        display: flex;
        justify-content: end;
      }

      .section-3_region-2 {
        padding-right: 17.1%;
      }


      .section-3_header, .section-3_region-1, .section-3_region-2 
      {
        gap: 2.7%;
      }
}

